@charset "utf-8";
/* CSS Document */

/* ----------------------------------------------------------------------[ category ]---------- */
.lp .category {
	width: 97%;
	margin-left:5px;
	*margin-left:0px;
	margin-top:5px;
	margin-bottom:5px;
	clear: both;
}
.lp .category ul {
	margin: 0px;
	padding: 0px;
}
.lp .category ul li {
	display:inline;
	margin:2px 10px 0px -2px;
	padding: 2px 0px 0px 0px;
	
	
}
.lp .category ul li span {
}
.lp .category ul li span a {
	padding:5px 8px 5px 8px;
	margin-top: 2px;
	margin-right: -3px;
	margin-bottom: 2px;
	margin-left: -2px;
	line-height: 170%;
	color: #000;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-decoration: none;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-color:#C7CCD0;
	border-radius:5px;
	background-image:-webkit-linear-gradient(90deg,rgba(204,204,204,1) 0%, rgba(255,255,255,1) 100%);
	background-image:linear-gradient(0deg,rgba(204,204,204,1) 0%, rgba(255,255,255,1) 100%);
}

.lp .category ul li span a:hover {
	color: #333;
	background:#E4E4E4;
}

.lp .category ul .here span a {
	background-color: #ff7200;/*veela0819*/
	background-image:linear-gradient(0deg, #ff7200 0%, #ffc100 100%);/*veela0819*/
	color: #FFF;
}
 .lp .category ul .here span a:hover {
	 background-image:linear-gradient(0deg, #ffc100 0%, #ff7200 100%);/*veela0819*/
	 background-color: #ff7200;/*veela0819*/
	color:#FFF;
}
