@charset "UTF-8";
/* CSS Document */
.sitemap {/*veela0819*/
	font-size:1.5rem;
	color: #666666;
	vertical-align: top;	
}
.sitemap table {
	clear: both;
	width:98%;
	border-collapse: collapse;  
}
.sitemap p {
	margin: 5px 0 5px 20px;
	line-height:160%;
	
	/*width: 500px;*/
}

.accesskeyDefine {	
	line-height: 170%;
	margin: 0 0 10px 25px;
}
.accesskeyDefine li {
	list-style: circle;
	margin: 0 0 0 25px;
}
.cascading {	
	margin: 5px 25px 10px;	
	padding:5px 10px;
	margin:5px 0;
	text-align:center;
	
}
.cascading ul {
	margin-left: 2em;
}

.cascading li {
	margin: 0 0 4px;
	line-height:190%;
	text-align:left;
}
.cascading li a{
	color:#39C;
	padding:3px;
	display:block;
}
.cascading li li a{
	font-size:100%;
	color:#777;
	text-decoration:underline;
	border:0px;
	padding:0px;
	background-color:transparent;
	font-weight:normal;
}
.cascading li a:hover{ color:#069;}
