@charset "UTF-8";
/* CSS Document */


.lpTb {
	clear: both;	
	width: 100%;
	text-align:left;
	font-size:13px;
}
.lpTb table {
	width: 99%;
	margin: 5px 0px 10px 0px;
	*margin: 5px 0px 10px -6px;
	border-bottom: 2px solid #D6E7EF;
	border:1px #CCCCCC solid;
	border-radius:5px;
	/* [disabled]text-align:left; */
}
.lpTb table caption {
	line-height: 120%;
	text-align:left;
	color:#999;
}
.lpTb table tr.altrow{
	background: #FDFEF5;
}
.lpTb table th {
	line-height: 165%;
	white-space: nowrap;
	vertical-align: top;
	padding: 4px 4px 1px 4px;
	color: #000;
	font-weight: bold;
	border-right:1px solid #ffffff;
	border-bottom:2px solid #DDD;
	background: #ABB8CB url(none);
	text-align:left;
}

.lpTb table th img {
	margin: 0 3px;
	cursor: pointer;
}
.lpTb table td {
	vertical-align:middle;
	padding: 5px 2px 5px 4px;
	border-top: 1px dotted #DDD;
	}

.lpTb table td.dept{ border:0px;border-top: 1px dotted #BBBBBB; }
.lpTb table td.date{
	width:130px;
	word-break:break-all;
	font-size:12px;
	text-align:left;
	color:#666;
}
.lpTb table td.number{
	text-align: left;
}
.lpTb table td a {
	margin-right: 4px;
}
.lpTb table td a:hover{ color:#347296;}
