@charset "utf-8";
/* CSS Document */

/*--------------------------------------------------------------------------------[  cp  ]----------*/
.cp a {
  color: #0295ac;
  text-decoration: underline;
  word-break: break-all;
}
.cp a:hover {
  color: #c00;
}

.cp h2 {
  font-weight: bold;
  color: #0295ac;
}
.cp h2 span {
  color: #0295ac;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}
.cp h3,
.lp h3,
.mainContent h3,
.np h3 {
  font-size: 15px\9;
  font-size: 1.5rem;
  color: #66992b;
  text-decoration: none;
  margin: 0px;
  padding-top: 5px;
  padding-right: 0px;
  padding-bottom: 5px;
  padding-left: 35px;
  background: url(../images/h2_icon01.png) no-repeat 5px center;
  font-weight: bold;
}

.cp h4 {
  font-size: 1.3rem;
  color: #66992b;
  margin-top: 10px;
}

/*--------------------------------------------------------------------------------[  image  ]----------*/
.cp .image {
  float: left;
  margin: 0 10px 0 0;
  padding: 5px;
}
/*ie8*/
@media all\0 {
  .cp .image img {
    width: 350px;
  }
}
/*ie9*/
@media all and (monochrome: 0) {
  .cp .image img {
    width: auto;
  }
}
.cp .image img {
  margin: 0px;
  padding: 1px;
  max-width: 350px;
  border: 1px solid #ffffff;
  height: auto;
}
.cp .image span {
  color: #000;
  margin: 0px;
  float: left;
  padding-top: 0px;
  padding-right: 7px;
  padding-bottom: 0px;
  padding-left: 5px;
  text-align: justify;
  line-height: 15px;
}
/*--------------------------------------------------------------------------------[  FONTS  ]----------*/
.cp p {
  padding: 0px;
  _padding: 0 10px 0 0;
  line-height: 1.5em;
  color: #666666;
  text-align: justify;
  margin: 0px 20px 5px 5px; /*overflow:hidden;				解決文字和圖位置都能共齊問題 */ /*_float:left;							ie6無效要用float定位 */
  word-break: break-all;
}

/*----------[  info  ]----------*/
.cp .info {
  display: block;
  padding: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.cp .info li {
  padding: 0 0 0 0px;
  margin-left: 0px !important;
  margin-bottom: 0px;
  color: #000;
  list-style-type: none;
  background: url(../images/icon2.gif) no-repeat 0px 6px;
}
.cp .info span {
  color: #007979;
  padding: 0 5px 0 5px;
  font-weight: normal;
}
.cp .info li img {
  vertical-align: middle;
}

/*----------[  ol li , ul li ]----------*/
.cp ol {
  padding: 0px;
  width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.cp ol li,
.cp ul li {
  font-size: 1.4rem; /*han1009*/
  list-style: disc;
  line-height: 150%;
  color: #666;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}
.cp ol li span {
}
.cp .date {
  /*font-family: Arial, Helvetica, sans-serif;*/

  font-style: normal;
  line-height: normal;
  font-weight: normal;
  font-variant: normal;
  color: #760000;
  text-decoration: none;
}

/*--------------------------------------------------------------------------------[  cp table  ]----------*/
.cp table {
  padding: 0px;
  clear: both;
  width: 98%;
  border-collapse: collapse;
}
.cp table tr th {
  color: #66992b;
  padding: 3px;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  vertical-align: top;
  border: 1px solid #ccc;
  margin: 0px;
  background-color: #ededed;
}

/*
.cp table tr:first-child td {
	color:  #069;
	padding: 3px;
	font-weight: bold;
	text-align: center;
	line-height: 20px;
	vertical-align: top;
	border: 1px solid #CCC;
	margin: 0px;
	background-color: #DEDEEE;
}
*/
.cp table.noBorder,
.cp table.noBorder tr,
.cp table.noBorder td,
.cp table.noBorder tr:first-child td,
.cp table.noBorder th {
  border: none;
  background: none;
  padding: inherit;
  font-weight: inherit;
  text-align: inherit;
  line-height: inherit;
  vertical-align: inherit;
}

.cp table th.throw {
  color: #333;
  padding: 3px;
  font-weight: normal;
  text-align: center;
  line-height: 20px;
  vertical-align: top;
  border: 1px solid #ccc;
  margin: 0px;
  background-color: #eee;
}
.cp table tr th label {
  color: #333;
}
.cp table p {
  margin: 0px;
  vertical-align: top;
  /*font-size:14px\9;*/
  font-size: 1.4rem;
  padding: 3px;
}
.cp table td.date {
}
.cp table td.number {
  color: #900;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
}
.cp table td table td {
  padding: 5px;
  border: 1px solid #e3e3e3 !important;
  background-image: none;
  line-height: 150%;
  vertical-align: top;
  font-size: 1.4rem; /*han1009*/
}
.cp table caption {
  padding: 0px;
  color: #999999;
  text-align: left;
}
.cp table td ul {
  margin: 5px 0 0 25px;
  padding: 0px;
  display: inline-block;
}

.cp table td .photo_link ul {
  margin-left: 0px;
}

.cp .center table td ol li,
.cp .center table td ul li {
  margin-left: 30px;
}
.cp table td ul li li {
  list-style-type: circle;
}
.cp table td ul li li li {
  list-style-type: square;
}
.cp table td ol li {
  list-style: decimal;
  margin-left: 37px;
}
.cp table td a {
  font-weight: normal;
  color: #036;
}
/*---------------------------------------------throw /表格 ?用th?左?/ */
.cp th.throw {
  color: #006699;
  padding: 3px;
  width: 120px;
  font-weight: normal;
  text-align: right;
  background-color: Transparent;
  border-right: 0px none;
  border-bottom: 1px solid #afd0d2;
}

/*--------------------------------------------------------------------------------[  related  ]----------*/
.cp .related {
  clear: both;
  padding: 0px;
  width: 100%;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
}
.cp .related h3 {
  color: #760000;
  border-bottom: 4px solid #ddd;
  background-image: url(../images/icon_arrow2.gif);
  background-repeat: no-repeat;
  background-position: 0 4px;
  padding-top: 0px;
  padding-right: 0;
  padding-bottom: 0px;
  padding-left: 20px;
}
.cp .related ul {
  padding: 0px;
  text-align: left;
  width: 100%;
  margin-top: 5px;
  margin-right: auto;
  margin-bottom: 5px;
  margin-left: auto;
}
.cp .related ul li {
  border-bottom: 1px dashed #dddddd;
  list-style-type: none;
  width: 95%;
  padding: 0px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}
.cp .related ul li a {
  font-style: normal;
  line-height: normal;
  font-weight: normal;
  font-variant: normal;
  color: #666;
  text-decoration: none;
  text-align: left;
  background-image: url(../images/icon_arrow3.gif);
  background-repeat: no-repeat;
  background-position: 0px 4px;
  line-height: 22px;
  margin: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 15px;
}
.cp .related ul li img {
  vertical-align: middle;
  border: 0 none;
  padding: 0 2px;
}
.cp .related ul li .date {
  text-align: left;
  padding: 0 2px;
}
/*--------------------------------------------------------------------------------[  download  ]----------*/
.cp .download {
  clear: both;
  padding: 0px;
  width: 100%;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
}
.cp .download h3 {
  color: #666600;

  border-bottom: 4px solid #ddd;
  background-image: url(../images/icon_DL.gif);
  background-repeat: no-repeat;
  background-position: 0 1px;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 1px;
  padding-left: 24px;
}
.cp .download ul {
  padding: 0px;
  text-align: left;
  width: 100%;
  margin-top: 5px;
  margin-right: auto;
  margin-bottom: 5px;
  margin-left: auto;
}
.cp .download ul li {
  border-bottom: 1px dashed #dddddd;
  list-style-type: none;
  width: 95%;
  padding: 0px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  display: block;
}
.cp .download ul li a {
  font-style: normal;
  line-height: normal;
  font-weight: normal;
  font-variant: normal;
  color: #666;
  text-decoration: none;
  text-align: left;
  background-image: url(../images/icon_arrow3.gif);
  background-repeat: no-repeat;
  background-position: 0px 4px;
  line-height: 22px;
  margin: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 15px;
}
.cp .download li img {
  vertical-align: middle;
  border: 0 none;
  padding: 0 2px;
}
.cp .download li .date {
  text-align: left;
  padding: 0 2px;
}

/*--------------------------------------------------------------------------------[  web2Tag  ]----------*/
.web2Tag table {
  width: 100%;
}
.web2Tag h3 {
  width: 100%;
  margin-top: 5px;
  margin-right: auto;
  margin-bottom: 5px;
  margin-left: auto;
  padding-top: 2px;
  padding-right: 0;
  padding-bottom: 4px;
  padding-left: 5px;

  background-color: #f2f2f2;
  background-image: none;
}
.web2Tag ul {
  margin: 10px 10px;
  padding: 0px;
  display: inline-block;
}
.web2Tag ul li {
  display: inline;
  padding: 0 0 0 12px;
  margin: 0px;
  list-style-image: none;
  list-style-type: none;
}
.web2Tag ul li a {
  background-image: none;
  list-style-image: none;
  list-style-type: none;
}
.web2Tag ul li em {
}
.web2Tag ul li img {
  padding: 0 2px;
}

/*--------------------------------------------------------------------------------[  cp_old  ]----------*/
.cp_old {
  color: #333333;
  border: 1px solid #ccc;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  background-color: #efefef;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  width: 80%;
}
.cp_old h1 {
  color: #333333;

  margin-top: 5px;
  margin-right: 0;
  margin-bottom: 5px;
  margin-left: 0;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 25px;
  background-image: url(../images/warning.gif);
  background-repeat: no-repeat;
  background-position: left 0px;
}
.cp_old h2 {
  color: #760000;

  background: url(none);
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  width: 100%;
  margin-top: 5px;
  margin-right: auto;
  margin-bottom: 5px;
  margin-left: auto;
  text-align: center;
  padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
}
.cp_old p {
  color: #666;
  text-align: center;
}
.cp_old p a {
  text-decoration: none;

  margin: 0px;
  padding-top: 0px;
  padding-right: 3px;
  padding-bottom: 0px;
  padding-left: 3px;
  font-weight: bold;
}
.cp_old p a:hover {
  color: #760000;
  text-decoration: underline;
}

/*
/*--------------------------------------------------------------------------------[  cp_photo image  ]----------*/
.cp_photo {
  padding: 0px;
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.cp_photo h2 {
  background-image: url(../images/icon_here.gif);
  background-repeat: no-repeat;
  background-position: left 1px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  margin: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 15px;
}
.cp_photo h2 span {
  color: #760000;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
}
.cp_photo p {
  width: 336px;
  padding: 0px;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  text-align: justify;
}
.cp_photo h3,
.cp_photo ul.info,
.cp_photo .photoControl {
  text-align: center;
  background: url(none);
}
.cp_photo .rss {
  float: right;
  margin-top: -18px;
}
.cp_photo .image {
  width: 336px;
  text-align: center;
  padding: 8px;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  *margin-bottom: 5px;
  margin-left: auto;
  background-color: #ccc;
}
.cp_photo .image img {
  margin: 0px;
  padding: 1px;
  width: 330px;
  border: 1px solid #fff;
}
.cp_photo .image span {
  color: #333;
  margin: 0px;
}
.cp_photo .info {
  padding: 0px;
  width: 336px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}
.cp_photo .info li {
  color: #999;
  list-style-type: none;

  margin: 0px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 10;
}
.cp_photo .info span {
  color: #999900;
  padding: 0 5px 0 0px;
}
.cp_photo .info li img {
  vertical-align: middle;
}
.cp_photo .photoControl {
  margin: 5px 0;
}
.cp_photo .photoControl li {
  display: inline;
  padding: 0 5px;
  margin: 0 20px 0 0;
  cursor: pointer;
}
.cp_photo .photoControl li.prevPhoto {
  padding: 2px 0 5px 17px;

  background-image: url(../images/prev.gif);
  background-repeat: no-repeat;
  background-position: left 4px;
}
.cp_photo .photoControl li.nextPhoto {
  padding: 2px 17px 5px 0;
  background-image: url(../images/next.gif);
  background-repeat: no-repeat;
  background-position: right 4px;
}

/*--------------------------------------------------------------------------------[  暫時還沒修改的部分  ]----------*/
/*----------------------------------------------------------------forwardForm start (A)*/
.cp {
  color: #666666;
  vertical-align: top;
}
.cp strong {
  font-weight: bold;
}
.cp li img {
  vertical-align: middle;
  border: 0 none;
}
.cp li .date {
  color: #069;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  line-height: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}
.cp .subnode ul {
  margin: 5px 0;
}
.cp .subnode li {
  display: inline;
  padding: 0 0 0 5px;
  border-right: 1px solid #cccccc;
}
.cp ul {
  margin: 5px 0 0 0px;
  padding: 0px;
  display: inline-block;
}
.cp ul li {
}
.cp ul li li {
  list-style-type: circle;
}
.cp ul li li li {
  list-style-type: square;
}
.cp ol li {
  list-style: decimal;
  margin-left: 37px;
}

/*-----------------webFun*/
.cp .webFun,
.mainContent .webFun {
  margin: 0px 0 5px 20;
  padding: 0px 0px 0px 0px;
  float: right;
}
.cp .webFun li,
mainContent .webFun li {
  display: inline;
  color: #333333;
  margin-left: 0px;

  margin-top: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.mainContent .webFun li span {
  margin-right: 5px;
}
.cp .webFun li img,
mainContent .webFun li img {
  padding-right: 2px;
}
.cp .webFun li em {
  font-style: normal;
  color: #cc3300;
}
.cp .webFun .clickFun {
  padding-left: 10px;
  background: url(../images/icon_arrow.gif) no-repeat left 4px;
}
.cp .webFun .diggFun {
  padding-left: 10px;
  background: url(../images/icon_arrow.gif) no-repeat left 2px;
}

.cp .webFun .diggFun a {
  margin: 0 0 0 5px;
}
.cp .webFun .commentFun {
  padding-left: 10px;
  background: url(../images/icon_arrow.gif) no-repeat left 2px;
}
.cp .webFun .trackbackFun {
  padding-left: 10px;
  background: url(../images/icon_arrow.gif) no-repeat left 1px;
}
.cp .webFun .forwardFun {
  padding-left: 10px;
  background: url(../images/icon_arrow.gif) no-repeat left 2px;
}
.cp .image ul {
  margin: 0px;
  text-align: center;
  padding: 0px;
}
.cp .image li {
  padding: 0px;
  display: inline;
  background-image: none;

  list-style-type: none;
}
.cp .image li a {
  color: #999999;
}
.cp .image li a.previous {
  background-image: url(../images/icon_previous.gif);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  padding-left: 10px;
}
.cp .image li a.next {
  background-image: url(../images/icon_next.gif);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  padding-left: 15px;
}
.cp .image li a.zoom {
  background-image: url(../images/icon_zoom.gif);
  background-repeat: no-repeat;
  background-position: 5px 0px;
  padding-left: 18px;
}
.cp .update {
  text-align: right;
  clear: both;
  color: #999;
}

/*---------------------------------------list*/
.cp .list {
  clear: both;
  margin: 20px 0 10px 0px;
}
.cp .list h3 {
  color: #009933;

  background-image: url(../images/sp_h3bg.gif);
  background-repeat: no-repeat;
  background-position: left 0px;
  padding: 0px 0 8px 25px;
  font-weight: bold;
}
.cp .list ul {
  margin: 5px 0 5px 15px;
  padding: 0px;
  text-align: left;
}
.cp .list li {
  text-align: left;
  background-image: url(../images/icon_arrow2.gif);
  background-repeat: no-repeat;
  background-position: 0px 5px;
  padding-left: 20px;
  line-height: 20px;
  border-bottom: 1px dashed #dddddd;
}
.cp .list .foot {
  border-bottom: 1px dashed #dddddd;
  clear: both;
  height: 3px;
}

/*-------------------------------------------cpTb */
.cp .cpTb {
  margin: 2px 0 10px 0;
  border-top: 1px solid #afd0d2;
  border-left: 1px solid #afd0d2;
  border-right: 1px solid #afd0d2;
  background-color: #fbfbec;
  padding: 0px;
  width: 95%;
}
.cp .cpTb caption {
  padding: 2px;
  color: #999999;
  text-align: left;
}
.cp .cpTb th {
  color: #006699;
  font-weight: normal;
  text-align: left;
  padding: 10px 3px 3px 3px;
  vertical-align: top;
  text-align: right;
  background-color: #d5e6df;
  border-bottom: 1px solid #afd0d2;
}
.cp .cpTb td {
  line-height: 20px;
  padding: 3px;
  border-bottom: 1px solid #afd0d2;
}
.cp .cpTb ul {
  margin: 5px 0 0 10px;
}
.cp .cpTb li {
  line-height: 20px;
  padding: 0 0 0 15px;
  background-image: url(../images/icon_arrow2.gif);
  background-repeat: no-repeat;
  background-position: 0px 6px;
}

/*-------------------------------------------spTb */
.spTb {
  margin: 0px 0 10px 0;
}
.spTb caption {
  display: none;
  visibility: hidden;
}
.spTb th {
  color: #333333;
  padding: 3px;
  text-align: left;
}
.spTb .throw {
  color: #006699;
  padding: 3px;
  font-weight: normal;
  text-align: right;
  border-right: 0px none;
}
.spTb td {
  padding: 3px;
}

/*---------------------------------------------logUser*/
.logUser {
  margin: 5px 0;
  color: #cc6600;
}
.logUser img {
  vertical-align: middle;
  border: 0px none;
  padding: 0 1px;
}
.cp .servicetab {
  text-align: left;
  margin: 5px 5px 15px 5px;
}
.cp .servicetab ul {
  margin: 0px;
  padding: 0px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #cccccc;
}
.cp .servicetab li {
  background-image: url(../images/Menu_1.gif);
  background-repeat: no-repeat;
  background-position: left top;
  display: block;
  float: left;
  margin: 0 2px;
  padding: 0px 0px 0px 0px;
}
.cp .servicetab li a {
  color: #365b81;
  padding: 10px 6px 0px 0;
  display: block;
  white-space: nowrap;
  margin-left: 5px;
  background-image: url(../images/Menu_2.gif);
  background-repeat: no-repeat;
  background-position: right top;
}
.cp .servicetab li a:hover {
  color: #cc0000;
}
.cp .servicetab li.over {
  background-image: url(../images/Menuover_1.gif);
  background-repeat: no-repeat;
  background-position: left top;
  display: block;
  float: left;
  margin: 0 2px;
  padding: 0px 0px 0px 0px;
}
html > body .cp .servicetab li.over {
  padding: 9px 0px 6px 0px;
}
* + html > body .cp .servicetab li.over {
  padding: 0px;
}
.cp .servicetab li.over a {
  color: #000000;
  padding: 10px 6px 0px 0;
  display: block;
  white-space: nowrap;
  margin-left: 5px;
  background-image: url(../images/Menuover_2.gif);
  background-repeat: no-repeat;
  background-position: right top;
}
.cp .servicetab li.over a:hover {
  text-decoration: none;
  color: #990000;
}
.cp .servicelist {
  border-collapse: collapse;
  margin: 10px 10px 20px 10px;
  width: 95%;
  clear: both;
  border: 0px none;
}
.cp .servicelist caption {
  font-weight: bold;
  color: #666666;
  text-align: left;
  background-image: url(../images/service_captionbg.gif);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  padding: 3px 0px 0px 25px;

  letter-spacing: 2px;
}
.cp .servicelist img {
  border: none;
  vertical-align: -5px;
}
.cp .servicelist th {
  padding: 5px;
  vertical-align: top;
  text-align: left;
  color: #666666;
}
.cp .servicelist td {
  padding: 5px;
  vertical-align: top;
  line-height: 145%;
  border: 0px none;
}
.cp .servicelist .More {
  margin: -15px 0px 0px 0px;
  text-align: right;
}
.cp .servicelist .More img {
  border: none 0px;
}

/*----------------------------------------------------rightblock-----*/
.cp .clear {
  width: 96%;
  margin: 0px;
  padding: 0px;
}
.cp .rightblock,
.cp .leftblock {
  vertical-align: top;
  float: left;
  margin: 0px 0px 5px 0px;
  border: 0px solid !important;
}
.cp .rightblock ul {
  margin: 0px auto;
  display: block;
}
.cp .rightblock li {
  text-align: center;
  margin: 5px 0;
  padding: 5px;
  display: block;
  list-style-type: none;
  background: #eeeeee;
  float: left;
}
.cp .rightblock li a img,
.cp .rightblock li img {
  width: 76px;
  border: 1px solid #ccc;
  padding: 1px;
}
.cp .rightblock li a:hover {
  width: 120px;
  border: 1px solid #ccc;
  padding: 1px;
  border-color: #cc3300;
}

/*--------------------------------------------------------------------------------[  image  ]----------*/
.cp .clear .leftblock .image {
  float: left;
  margin: 0 10px 0 0;
  padding: 5px;
}
.cp .clear .leftblock .image img {
  margin: 0px;
  padding: 1px;
  border: 1px solid #333;
  height: auto;
}
.cp .clear .leftblock .image span {
  color: #000;
  margin: 0px;
  float: left;
  padding-top: 0px;
  padding-right: 7px;
  padding-bottom: 0px;
  padding-left: 5px;

  text-align: justify;
  line-height: 15px;
}

/*--------------------------------------------------------------------------------[  image2  ]----------*/
.cp .clear .leftblock .image2 {
  width: 500px;
  margin: 10px 0px;
  padding: 0px;
}
.cp .clear .leftblock .image2 img {
  margin: 0px;
  padding: 2px;
  max-width: 500px;
  _width: 500px;
  border: 1px solid #ccc;
}

.cp .center .leftblock .table01 tr td {
  border: 1px solid #000 !important;
}

.cp .photo_link ul li {
  float: left;
  list-style: none;
  margin: 5px;
}
.cp .photo_link ul li .img img {
  width: auto;
  max-width: 150px;
  height: auto;
  max-height: 130px;
}
.cp .photo_link ul li .img {
  padding: 5px;
  width: 150px;
  height: 130px;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0%, 0%, 0%, 0.5);
  border: #ccc 1px solid;
}
.cp .photo_link p {
  display: inline-block;
  overflow: hidden;
  line-height: 1.4em;
  font-size: 12px;
  text-align: left;
  max-width: 150px;
  margin-top: 5px;
  text-align: justify;
  text-justify: inter-ideograph;
}
/*----------------------------------------------------------------------------[article]--------------------------------------------*/
.cp .article h1,
.cp .article h2,
.cp .article h3,
.cp .article h4,
.cp .article h5,
.cp .article h6 {
  color: #069;
  margin: 15px 0 10px 0;
  padding: 5px 0 0 10px;
  background: none;
}
.cp .article h1 {
  padding: 10px 0 10px 25px;
  background-image: url(../images/color_blue.gif);
  background-repeat: no-repeat;
  background-position: left center;
}
.cp .article h2 {
  padding: 10px 0 5px 25px;
  background-image: url(../images/color_blue.gif);
  background-repeat: no-repeat;
  background-position: left center;
}
.cp .article h3 {
  padding: 10px 0 10px 25px;
  background-image: url(../images/color_blue.gif);
  background-repeat: no-repeat;
  background-position: left center;
}
.cp .article h4 {
  padding: 5px 0 0 0px;
}
.cp .article h5 {
  padding: 5px 0 0 0px;
}
.cp .article h6 {
  padding: 5px 0 0 0px;
}

.cp .article ul {
  margin: 0 0 0 37px;
  padding: 0;
  background: none;
  display: block;
}
.cp .article ul li {
}

.cp .cpList01,
.cp .cpList02 {
  display: block;
}
.cp .cpList01 li {
  list-style: disc !important;
}
.cp .cpList02 li {
  list-style: decimal;
}

.cp .adslide,
.lp .adslide,
.mainContent .adslide {
  margin: 10px 0 10px 3px;
}
.cp .adslide ul li,
.lp .adslide ul li,
.mainContent .adslide ul li {
  padding: 2px;
}

.cp .adslide ul li a,
.lp .adslide ul li a,
.mainContent .adslide ul li a {
  display: block;
  padding: 2px 0;
}

.cp .adslide ul li a:focus-visible,
.lp .adslide ul li a:focus-visible,
.mainContent .adslide ul li a:focus-visible {
  box-shadow: inset 0 0 0 2px #09f;
}
.rightbg .adslide {
  margin: 10px 0 10px 8px;
}

@media screen and (max-width: 800px) {
  .cp h3,
  .lp h3,
  .mainContent h3,
  .np h3 {
    background: none;
    padding-left: 0px;
    display: inline-block;
    width: 98%;
  }
  .cp .info {
    width: 98%;
    float: left;
    margin: 1% 1%;
  }
  .cp .image {
    width: 100%;
  }
  .cp .image img {
    width: 100%;
  }
  .cp .rightblock {
    width: 98%;
  }
  .cp .photo_link ul li .img {
    width: 100%;
    max-width: 280px /*han1117*/;
    max-height: 200px /*han1117*/;
    height: auto;
  }
  .cp .photo_link ul li .img img {
    max-width: 100% /*han1117*/;
    max-height: 200px /*han1117*/;
  }
  .cp .photo_link p {
    max-width: 280px /*han1117*/;
  }
  .cp table td ol,
  .cp table td ul {
    margin-left: 1%;
  }
  .cp .cpList01,
  .cp .cpList02 {
    margin-left: 10%;
  }
  .cp .photo_link ul li {
    margin: 5px 10px;
  }

  .cp .webFun,
  .mainContent .webFun {
    width: 100px;
    margin-top: 30px;
  }
}
