@charset "utf-8";
/*----------------------------------------------------------------css reset start*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;	
	border:none;
	font:normal normal 100%/120%;
	text-decoration:none;
	vertical-align:baseline;
	line-height:160%;
	font-style:normal;
}

/* remember to define focus styles! */
:focus {
	
	}
a:active {
	
}
ol, ul, li, dt, dd{
	list-style:none;}
	
blockquote:before,
blockquote:after,
q:before,
q:after {
	content:"";}
blockquote, q {
	quotes:"" "";}
img{ vertical-align:middle}
/*----------------------------------------------------------------css reset end*/
