@charset "UTF-8";
/* CSS Document */

body {
  background: #008da3 url(../images/bg03.png);
}
.mpwrap {
  position: relative;
  z-index: 10;
  max-width: 980px;
  width: 100%;
  margin: 0px auto;
  background: #fff;
}
.header {
  background: url(../images/headerbg.png) no-repeat right top;
  background-size: cover;
  height: 150px;
}
.logo {
  position: absolute;
  left: 20px;
  top: 20px;
}
.logo320 {
  display: none;
}
.header .search {
  position: absolute;
  right: 1%;
  top: 100px;
  background: #fabe00;
  padding: 10px 8px;
}
.header .search input {
}
.searchText {
  width: 100px;
  border-radius: 2px;
  border: 1px solid #ccc;
  padding: 2px;
  margin-left: 10px;
}
.search_btn {
  border: 1px solid #a5a5a5;
  border-radius: 5px;
  padding: 3px 10px;
  background: #7FBFBF\9;
  color: #fff;
  margin-left: 5px;
  background-image: linear-gradient(0deg, #bdbdbd 0%, #e2e2e2 100%);
}
.header .search p {
  float: left;
  font-size: 1.3rem;
  font-size: 13px\9;
}
.header .nav {
  /*han1004*/
  position: absolute;
  z-index: 99999;
  background: url(../images/navbg.png) no-repeat right top;
  width: 100%;
  text-align: right;
}

.header .nav ul {
  float: right;
}

.header .nav ul li {
  font-size: 1.2rem;
  font-size: 12px\9;
  float: left; /*han0306*/
  margin: 0px 5px;
}
.header .nav ul li:after {
  content: '|';
  color: #666;
  padding-left: 10px;
}
.header .nav ul li a {
  color: #333;
}
.header .nav ul li a:hover {
  color: #036;
}
.header .nav .here a {
  color: #c00;
}
.mainContent {
  padding: 0px 1%;
  background: #fff;
}

h2 {
  float: left;
  width: 92%;
  padding-left: 28px;
  background: url(../images/h2_icon01.png) no-repeat left center, url(../images/h2_icon_repeat02.png) no-repeat left;
  background: url(../images/h2_icon01.png) no-repeat left center\9;
  font-size: 1.5rem;
  color: #253f61;
  margin: 8px 0 0 0;
  font-size: 15px\9;
}
h2:after {
}
h2 span {
  padding: 0px 10px 0px 0px;
}
.center .slider {
  float: left;
  width: 93%;
  margin: -30px 0px 10px 18px;
}
.slider {
  margin-top: 5px;
}
/*-------------------MP相片------------------------*/
.mp .photo_book {
  margin-bottom: 5px;
  width: 100%;
  width: 95%;
  margin: 0 0 5px 1.5%;
  clear: both; /* miley20240819 */
}
.mp .photo_book ul {
  display: flex; /* miley20240819 */
  flex-wrap: wrap;
  margin: 0 0 0 0;
}
.mp .photo_book ul li {
  /* float: left; */
  list-style: none;
  margin: 5px;
}
.mp .photo_book ul li .img img {
  width: auto;
  max-width: 180px;
  height: auto;
  max-height: 130px;
}
.mp .photo_book ul li .img {
  padding: 5px;
  width: 200px;
  height: 200px;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0%, 0%, 0%, 0.5);
  border: #ccc 1px solid;
}
.mp .photo_book p {
  display: inline-block;
  height: 44px;
  overflow: hidden;
  line-height: 1.2em;
  border-bottom: #999 dotted 1px;
  text-align: left;
  width: 100%;
}
.mp .photo_book span {
}
.mp .photo_book h3 {
  display: inline-block;
  height: 1.2em;
  overflow: hidden;
  line-height: 1.2em;
  text-align: left;
  width: 170px;
  padding: 0px 0 0 10px;
  margin: 10px 0 0 10px;
  background-image: none;
  font-size: 13px\9;
  font-size: 1.3rem;
}
.mp .photo_book ul li .img02 img {
  width: auto;
  max-width: 180px;
  height: auto;
  max-height: 130px;
}
.mp .photo_book ul li .img02 {
  padding: 5px;
  width: 180px;
  height: 130px;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0%, 0%, 0%, 0.5);
  border: #ccc 1px solid;
  margin: 5px auto 0px 8%;
}
.mp .photo_book p {
  padding: 0px 0px 0 10px;
  margin: 2px 0px 0 10px;
  border-bottom: 0px;
  display: block;
  width: 190px;
  height: 2.2em;
}
/*-------------------MP相片------------------------*/

.mainList,
.mainList02 {
  float: left;
  width: 95%;
  margin: 0 0 5px 1.5%;
}
.mainList ul li {
  float: left;
  width: 100%;
}
.mainList ul li,
.mainList02 ul li {
  border-bottom: #ccc dotted 1px;
  font-size: 12px\9;
  font-size: 1.3rem;
  background: url(../images/li_icon01.png) no-repeat 6px 7px;
  padding: 3px 0 3px 18px;
  margin: 3px 5px;
  display: inline-block;
  width: 97%;
}
.mainList ul li a,
.mainList02 ul li a {
  color: #5f5c80;
}
.mainList ul li a:hover,
.mainList02 ul li a:hover {
  color: #5f5c80;
}
.mainList02 ul {
  padding: 0px;
}
.leftbg .mainList02 ul li,
.rightbg .mainList02 ul li {
  float: left;
  width: 96%;
  margin: 1% 1%;
  padding-left: 20px;
}
.mainList02 ul li {
  float: left;
  width: 42%;
  margin: 1% 1%;
  padding-left: 20px;
}
.tb_row01 .mainList02 ul li {
  width: 45%;
}
.mainList em,
.mainList02 em {
  font-size: 1.2rem;

  color: #666;
}
.info02 {
  display: block;
}
.epaper {
  float: left;
  margin: 5px 0px;
}
.epaper a {
  display: block;
  width: 100%;
}
.siteMap {
  background-image: linear-gradient(0deg, #8782c1 0%, #98bde5 100%);
  background: #898bc6; /*20140915更新*/
  width: 100%;
  float: left;
  margin: 5px 0 0 0;
  padding: 15px 0 0 0;
}
.siteMap h3 {
  text-align: center;
  font-size: 1.3rem;
  margin: 0 0 5px 0;
  color: #000;
}
.siteMap ul {
  float: left;
  width: 12%;
  display: block;
  border-right: dashed 1px #817f9e;
  height: auto;
  padding-left: 3px;
  padding-bottom: 10px;
}
.siteMap ul li {
  text-align: center;
  font-size: 12px\9;
  font-size: 1.2rem;
}
.siteMap ul li a {
  color: #fff;
}
.footer {
  clear: both;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-size: 12px\9;
  background: #f6f6f6;
}
.safeInfo {
  float: left;
  margin: 8px 0 0 8px;
}
.red {
  color: #e00000;
}
.brown {
  color: #5f3d00;
}
.appDownload {
  background: url(../images/appDownload.png) no-repeat;
  width: 156px;
  height: 116px;
  padding: 35px 20px 0px 20px;
  text-align: center;
  float: left;
  width: 156px;
}
/* 左欄appDownload  */

.leftbg .appDownload {
  background: url(../images/appDownload.png) no-repeat;
  width: 156px;
  height: 116px;
  padding: 35px 20px 0px 20px;
  text-align: center;
  float: none;
  width: 156px;
  margin: 10px auto;
}
.leftbg .appDownload img {
  margin: 5px;
}
/* 左欄appDownload  END*/

.appDownload img {
  margin: 5px;
}
.appDownload320 {
  display: none;
}
.webInfo {
  float: left;
  width: 60%;
  margin-left: 10px;
}
.footer .aa {
  float: right;
  width: 15%;
  text-align: right;
  margin: 0 0 10px 0;
}
.footer .qrCode {
  float: right;
  width: 15%;
  text-align: right;
  margin: 0 0 10px 0;
}
.footer .clickRate {
  float: right;
  width: 15%;
  text-align: right;
}
.fb03 {
  padding-left: 4px !important;
}
.fb03 a img {
  margin: -4px 0 0 0;
}
.center .mix_left,
.center .mix_right {
  width: 48%;
  float: left;
  margin: 0px 1%;
}
.center .mix_right .mainList02 ul li,
.center .mix_left .mainList02 ul li {
  width: 94%;
}
/*ie8*/
@media all\0 {
  .headline .image img {
    width: 130px;
  }
}
/*ie9*/
@media all and (monochrome: 0) {
  .headline .image img {
    width: auto;
  }
}

.headline .image img {
  max-width: 130px;
  height: auto;
  float: left;
  margin: 0% 2% 0% 2%;
}
.mainContent .headline h3 {
  background-image: none;
  font-size: 1.3rem;
  padding-left: 0px;
  width: 100%;
  float: left;
  line-height: 1.2em;
  padding: 1px;
  margin: 3px 0 0 0;
  font-weight: normal;
}
.headline {
  float: left;
  width: 95%;
  margin: 0 0 5px 1%;
}

.mainContent .headline p {
  font-size: 1.2rem;
  color: #666;
}

@media screen and (max-width: 800px) {
  .mp {
    margin-top: 45px; /*han1001*/
  }

  .mainList ul li,
  .mainList02 ul li {
    padding: 1px 0 1px 17px;
    margin: 0px 5px;
  }

  .leftbg .mainList02 ul li,
  .rightbg .mainList02 ul li {
    margin: 0% 1%;
    padding-left: 20px;
  }

  .mainContent .headline p {
    float: left;
    width: 98%;
    margin: 5px 0px 0px 10px;
    font-size: 1.2rem !important;
  }

  .headline .image img {
    max-width: 250px;
    height: auto;
    float: left;
    margin: 0% 2% 0% 2%;
  }

  .center .mix_left,
  .center .mix_right {
    width: 98%;
    float: left;
    margin: 0px 1%;
  }
  .mpwrap {
    width: 100%;
  }
  .header {
    width: 100%;
    height: 145px;
    background-position: right;
    top: 50px;
    position: relative;
  }
  .mainContent {
  }
  .mp {
  }
  .logo {
    display: none;
  }
  .logo320 {
    display: block;
    float: left;
    margin: 15px 0 0 2%;
  }
  .header .nav {
    float: left;
    display: block;
    position: fixed;
    width: 100%;
    background: #ccc;
    background-image: linear-gradient(0deg, #0d1a34 20%, #1d385c 70%, #1d385c 100%);
    padding: 1% 0%;
    margin: 0px;
    top: 0px;
    right: 0px;
    height: 48px;
  }
  .header .nav ul {
    display: block;
    text-align: left;
    margin: 0 0 0 5%;
    padding: 0px 0 0 48px;
  }
  .header .nav ul li {
    color: #fff;
    float: left; /*han1004*/
  }
  .header .nav ul li a {
    color: #fff;
  }
  .header .nav ul li a:hover {
    color: #09c;
  }
  .header .nav ul .here a {
    color: #0cf;
  }
  .header .nav ul li:after {
    color: #6d8ba6;
  }
  .header .search {
    position: relative;
    float: left;
    left: 1%;
    width: 95%;
    top: 0px;
    background: none;
  }
  .header .search .searchText {
    width: 45%;
    margin-left: 1%;
  }
  .layout .leftbg {
    border-right: #fff;
  }
  .center .slider {
    margin: 10px 0px 10px 18px;
  }
  .slider {
    width: 98%;
    margin: 3% 1%;
  }
  .mainList,
  .mainList02 {
    float: left;
    width: 96%;
    margin: 0 0 0 1%;
  }
  .mainList02 ul li {
    float: left;
    width: 98%;
    margin: 3px 5px;
  }
  .ePaper {
    width: 98%;
    margin: 1% 1%;
  }
  .mp .photo_book h3 {
    height: 1.2em;
  }
  .siteMap {
    width: 98%;
    float: left;
    margin: 5px 0 0 0;
    padding: 1%;
  }
  .siteMap h3 {
    text-align: left;
    font-size: 1.3rem;
    margin: 0 0 5px 0;
    border-bottom: #31656d 1px solid;
    padding: 1% 2%;
  }
  .siteMap ul {
    float: left;
    width: 99%;
    display: block;
    height: auto;
  }
  .siteMap ul li {
    border-right: none;
    text-align: center;
    font-size: 1.2rem;
    text-align: left;
    border-bottom: #3e7a7c 1px dotted;
    padding-left: 3%;
  }
  .siteMap ul li a {
    color: #fff;
  }
  .footer {
    padding: 1% 1%;
    font-size: 1rem;
  }
  .safeInfo {
    display: none;
  }
  .red {
    color: #e00000;
  }
  .brown {
    color: #5f3d00;
  }
  .appDownload {
    margin: 5px auto;
    display: none;
  }
  .appDownload320 {
    display: block;
    width: 320px;
    margin: 1% auto;
    text-align: center;
  }
  .webInfo {
    width: 97%;
    padding: 1%;
  }
  .footer .aa {
    display: none;
  }
  .footer .qrCode {
    display: none;
  }
  .footer .clickRate {
    display: none;
  }
  .tb_row01 .mainList02 ul li {
    width: 98%;
  }
}
@media screen and (max-width: 640px) {
  ul li {
    font-size: 1.2rem !important;
  }
  h3 {
    font-size: 1.2rem !important;
  }
  .header {
    background-position: left -10px;
  }
}

/*

 @media screen and (max-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
}
 @media screen and (max-width: 360px) {

}

*/
