@charset "UTF-8";
/* CSS Document */
body {
	background: #008da3 url(../images/bg03.png);
}
.mpwrap {
	position: relative;
	max-width: 980px;
	width: 100%;
	margin: 0px auto;
	background: #fff;
}
.header {
	background: #fff url(../images/headerbg.png) no-repeat right top;
	background-size: cover;
	height: 130px;
}
.logo {
	position: absolute;
	left: 20px;
	top: 20px;
}
.logo320 {
	display: none;
}
/* search */
.header .search {
	position: absolute;
	right: 0;
	top: 80px;/*Han0916*/
	background: #FABE00/*veela0819*/;
	padding: 5px 8px;/*Han0916*/
	z-index: 99999;
}
.header .search input {
}
.searchText {
	width: 100px;
	border-radius: 2px;
	border: 1px solid #CCC;
	padding: 2px;
	margin-left: 10px;
}
.search_btn {
	border: 1px solid #A5A5A5;
	border-radius: 5px;
	padding: 3px 10px;
	background: #7FBFBF\9;
	color: #FFF;
	margin-left: 5px;
	background-image: linear-gradient(0deg, #BDBDBD 0%, #E2E2E2 100%);
}
.header .search p {
	float: left;
	font-size: 1.3rem;
	font-size: 13px\9;
}
/* nav */
.header .nav {
	position: absolute;
	z-index: 99999;
	background: url(../images/navbg.png) no-repeat right top;
	width: 100%;
	text-align: right;
}
.header .nav ul {
	margin: 2px;
}
.header .nav ul li {
	font-size: 1.2rem;
	font-size: 12px\9;
	margin: 0px 5px;
	display: inline;
}
.header .nav ul li:after {
	content: "|";
	color: #666;
	padding-left: 10px;
}
.header .nav ul li a {
	color: #222;
}/*veela0819*/
.header .nav ul li a:hover {
	color: #ff8a00;
}/*veela0819*/
.header .nav .here a {
	color: #0068aa;
}/*veela0819*/
.mainContent {
	padding: 0px 0px;
	margin: 0;
}
.mp {
	margin-top: 55px;
}
/* nav */
h2 {
	padding-left: 28px;
	background: url(../images/h2_icon01.png) no-repeat left center, url(../images/h2_icon_repeat02.png) no-repeat left;
	background: url(../images/h2_icon01.png) no-repeat left center\9;
	font-size: 1.5rem;
	color: #253F61/*veela0819*/;
	margin: 8px 0 5px 0;
	font-size: 15px\9;
	clear: both;
	width: 95%;/*han1009*/
}
h2:after {
}
h2 span {
	padding: 0px 10px 0px 0px;
}
.center .mix_left, .center .mix_right {
	width:47%;/*han1009*/
	float: left;
	margin: 10px 1% 5px 1%;/*han1009*/
}

/* IE8 uses \0 */
@media all\0 {.center .mix_left, .center .mix_right {width:45%;}/*han1009*/ }
/* IE9 uses \9 */
@media all and (monochrome:0) {.center .mix_left, .center .mix_right {width:47%;}/*han1009*/  }

.center .mix_left {
	clear: both;
}
.center .mix_right .mainList02 ul li, .center .mix_left .mainList02 ul li {
	width: 94%;
}
.center .mix_3 {
	width: 30%;
	float: left;
	margin: 10px 2% 10px 1%;
}
/* slider */
.center .slider {
	float: left;
	width: 97%;/*han1009*/
	margin: 10px 0px 20px 10px;
	display: block;
	clear: both;
}

/* IE8 uses \0 */
@media all\0 {
.center .slider {
	width: 95%;/*han1009*/
}
}
/* IE9 uses \9 */
@media all and (monochrome:0) {
 .center .slider {
	width: 97%;/*han1009*/
}
}
.center .slider2 {
	width: 95%;
	margin: 10px 0px 20px 10px;
	margin: 0px 0px 10px 10px\9;/*han1004*/
	display: block;
	clear: both;
}

.slider .bxslider img{ width:100%;}/*Han0916*/
.slider2 .bxslider2 img{ width:100%;}/*Han0916*/

/* center banner */
.center .banner {
	float: left;
	width: 95%;
	margin: 20px auto;
	text-align: center;
}
.center .banner ul {
}
.center .banner ul li {
	margin: 0 15px 15px 15px;
	float: left;
}
.center .banner ul li img {
	width: 180px;
	height: 49px;
}
/* leftbg banner */
.leftbg .banner {
	float: none;
	width: 95%;
	margin: 20px auto;
	text-align: center;
	border: 1px solid #ddd;
	border-radius: 5px;
	clear: both;
}
.leftbg .banner ul {
	margin-top: 10px;
}
.leftbg .banner ul li {
	margin-bottom: 10px;
}
.leftbg .banner ul li img {
	width: 180px;
	height: 49px;
}
/*center .photo_book*/
.mp .center .photo_book {
	/*width: 98%;han1009*/
	margin: 0 20px 5px 1.5%;
	padding: 0;
	display: block;
	width:100%;/*han1009*/
	clear: both;
}
.column1 .center .photo_book ul {
	display: block;
	margin: 10px 0 0 10px;/*han1009*/
}
.mp .center .photo_book ul li {
	max-width:430px;/*han1009*/
	float: left;
	list-style: none;
	margin: 0px 0px 15px 0px;
}
.mp .center .photo_book ul li .img img {
	width: auto;
	max-width: 180px;
	height: auto;
	max-height: 130px;
}
.mp .center .photo_book ul li .img {
	padding: 5px;
	width: 180px;
	height: 130px;
	text-align: center;
	box-shadow: 0px 2px 5px rgba(0%,0%,0%,0.5);
	border: #CCC 1px solid;
}
.mp .center .photo_book p {/*veela0819*/
	position: relative;
	font-size: 12px;
	display: inline-block;
	display: block;
	height: 44px;
	overflow: hidden;
	margin: 2px 0px 0 10px;
	padding: 0px 0px 0 10px;
	line-height: 1.2em;
	text-align: left;
	width: 90%;
}
.mp .center .photo_book span {
}
.mp .center .photo_book h3 {
	display: inline-block;
	height: 1.2em;
	overflow: hidden;
	line-height: 1.2em;
	text-align: left;
	padding: 0px 0 0 10px;
	margin: 10px 10px 0 10px;
	background-image: none;
	font-size: 13px\9;
	font-size: 13px;
}
.mp .center .photo_book ul li .img02 img {
	max-width: 410px;
	height: auto;
	max-height: inherit;
}
.mp .center .photo_book ul li .img02 {
	padding: 5px;
	max-width: 410px;
	height: inherit;
	text-align: center;
	box-shadow: 0px 2px 5px rgba(0%,0%,0%,0.5);
	border: #CCC 1px solid;
	margin: 5px 19px 0px 15px;
}
.mp .center .photo_book ul li .img02 img {
	width:380px;/*han1009*/
	max-width:380px;/*han1009*/
	height: auto;

}
.mp .center .photo_book ul li .img02 {
	padding: 5px;
	width:390px;/*han1009*/
	max-width:390px;/*han1009*/
	height: inherit;
	text-align: center;
	box-shadow: 0px 2px 5px rgba(0%,0%,0%,0.5);
	border: #CCC 1px solid;
	margin: 5px 5px 0px 5px;
}
.mp .center .photo_book ul li .img03 img {
	max-width: 240px;/*han1003*/
	height: auto;
	max-height: 200px;
}
.mp .center .photo_book ul li .img03 {
	padding: 5px;
	max-width: 260px;
	height: auto;
	text-align: center;
	box-shadow: 0px 2px 5px rgba(0%,0%,0%,0.5);
	border: #CCC 1px solid;
	margin: 5px 19px 0px 15px;
}
.mp .center .photo_book .more {
	margin-right: 20px;
}
/*leftbg .photo_book*/
.mp .leftbg .photo_book {
	margin-bottom: 5px;
	width: 95%;
	margin: 0 0 5px 1.5%;
	padding: 0;
	display: block;
	clear: both;
}
.mp .leftbg .photo_book ul {
	display: block;
	margin: 10px 0 0 -10px;
}
.mp .leftbg .photo_book ul li {
	float: left;
	list-style: none;
	margin: 0px 0px 15px 0px;
}
.mp .leftbg .photo_book ul li .img img {
	width: auto;
	max-width: 180px;
	height: auto;
	max-height: 130px;
}
.mp .leftbg .photo_book ul li .img {
	padding: 5px;
	width: 200px;
	height: 200px;
	text-align: center;
	box-shadow: 0px 2px 5px rgba(0%,0%,0%,0.5);
	border: #CCC 1px solid;
}
.mp .leftbg .photo_book p {/*veela0819*/
	position: relative;
	font-size: 12px;
	display: inline-block;
	display: block;
	height: 44px;
	overflow: hidden;
	margin: 2px 0px 0 10px;
	padding: 0px 0px 0 10px;
	line-height: 1.2em;
	text-align: left;
	max-width: 180px;
}
.mp .leftbg .photo_book span {
}
.mp .leftbg .photo_book h3 {
	display: inline-block;
	height: 1.2em;
	overflow: hidden;
	line-height: 1.2em;
	text-align: left;
	width: 170px;
	padding: 0px 0 0 10px;
	margin: 10px 0 0 10px;
	background-image: none;
	font-size: 13px\9;
	font-size: 1.3rem;
}
.mp .leftbg .photo_book ul li .img02 img {
	width: auto;
	max-width: 180px;
	height: auto;
	max-height: 130px;
}
.mp .leftbg .photo_book ul li .img02 {
	padding: 5px;
	width: 180px;
	height: 130px;
	text-align: center;
	box-shadow: 0px 2px 5px rgba(0%,0%,0%,0.5);
	border: #CCC 1px solid;
	margin: 5px auto 0px 8%;
}
/*mainList  mainList02*/
.mainList, .mainList02 {
	float: left;
	clear: both;
	width: 95%;
	margin: 0 0 5px 1.5%;
}

/* IE9 uses \8 */
@media all\0 {.mainList, .mainList02 {width: 91%;/*han1009_2*/} }
/* IE9 uses \9 */
@media all and (monochrome:0) {.mainList, .mainList02 {width: 95%;/*han1009_2*/}  }
.mainList ul li {
	float: left;
	width: 100%;
}
.mainList ul li, .mainList02 ul li {
	border-bottom: #CCC dotted 1px;
	font-size: 12px\9;
	font-size: 1.3rem;
	background: url(../images/li_icon01.png) no-repeat 6px 7px;
	padding: 3px 0 3px 18px;
	margin: 0px 5px;
	display: inline-block;
	width: 97%;
}
.mainList ul li a, .mainList02 ul li a {
	color: #555;/*veela0819*/
}
.mainList ul li a:hover, .mainList02 ul li a:hover {
	color: #21b6b4;/*veela0819*/
}
.mainList02 ul {
	padding: 0px;
}
.mainList02 ul li {
	float: left;
	width: 42%;
	margin: 0% 1%;
	padding-left: 20px;
}
.tb_row01 .mainList02 ul li {
	width: 45%;
}
.mainList em, .mainList02 em {
	font-size: 1.2rem;
	padding-left: 0px;
	color: #666;
	clear: both;
}
.info02 {
	display: block;
}
.leftbg .mainList02 ul li, .rightbg .mainList02 ul li {
	float: left;
	width: 96%;
	margin: 1% 1%;
	padding-left: 20px;
}
/* headline*/
.mainContent .headline h3 {
	background-image: none;
	font-size: 1.3rem;
	padding-left: 0px;
	width: 100%;
	float: left;
	line-height: 1.2em;
	padding: 1px;
	margin: 3px 0 2px 0;
	font-weight: normal;
}
.headline {
	float: left;
	width: 95%;
	margin: 0 0 5px 1%;
}
.mainContent .headline p {
	font-size: 1.2rem;
	color: #666;
	display: block;
}
/*ie8*/
@media all\0 {.headline .image img{width:180px;}}
/*ie9*/
@media all and (monochrome:0){.headline .image img{width:auto;}}

.headline .image img {
	max-width: 180px;
	height: auto;
	float: left;
	margin: 0% 2% 1% 2%;
}
/* AppDownload*/
.appDownload {
	background: url(../images/appDownload.png) no-repeat;
	width: 156px;
	height: 116px;
	padding: 35px 20px 0px 20px;
	text-align: center;
	float: left;
	width: 156px;
}
.appDownload img {
	margin: 5px;
}
.appDownload320 {
	display: none;
}
/* leftbg AppDownload*/
.leftbg .appDownload {
	background: url(../images/appDownload.png) no-repeat;
	width: 156px;
	height: 116px;
	padding: 35px 20px 0px 20px;
	text-align: center;
	float: none;
	width: 156px;
	margin: 20px auto;
}
.leftbg .appDownload img {
	margin: 5px;
}
/*epaper*/
.epaper {
	float: left;
}
.epaper a {
	display: block;
	width: 100%;
}
/*siteMap*/
.mpwrap .siteMap {
	background: #f0b600;
	width: 100%;
	float: left;
	margin: 0px 0 0 0;
	padding: 15px 0;
}
.mpwrap .siteMap h3 {
	text-align: center;
	font-size: 13px;
	margin: 0 0 5px 0;
	color: #222;
}
.mpwrap .siteMap h3 a {
	color: #222;
}
.mpwrap .siteMap ul {
	float: left;
	width: 12%;
	display: block;
	border-right: dotted 1px #AA8320;
	padding-left: 3px;
	padding-bottom: 10px;
	height: auto;
}
.mpwrap .siteMap ul li {
	text-align: center;
	font-size: 12px;
	margin-bottom: 2px
}
.mpwrap .siteMap ul li a {
	color: #444;
}
/*footer*/
.footer {
	clear: both;
	padding: 10px 20px;
	font-size: 1.2rem;
	font-size: 12px\9;
	background: #F6F6F6;
	margin-top: 20px;
}
.footer .aa {
	float: right;
	width: 15%;
	text-align: right;
	margin: 0 0 10px 0;
}
.footer .qrCode {
	float: right;
	width: 15%;
	text-align: right;
	margin: 0 0 10px 0;
}
.footer .clickRate {
	float: right;
	width: 15%;
	text-align: right;
}
.webInfo {
	float: left;
	width: 60%;
	margin-left: 10px;
}
.safeInfo {
	float: left;
	margin: 8px 0 0 8px;
}
.red {
	color: #e00000;
}
.brown {
	color: #5f3d00;
}
/*fb03*/
.fb03 {
	padding-left: 4px!important;
}
.fb03 a img {
	margin: -4px 0 0 0;
}
 @media screen and (max-width:800px){

.mp {
margin-top: 20px;/*han0923*/
}
.center .mix_3 {
	width:95%;/*han0923*/
}

.mp .center .photo_book ul li .img02 img {/*han0923*/
	max-width:250px;
	height: auto;
	max-height: inherit;
}
.mp .center .photo_book ul li .img02 {/*han0923*/
	padding: 5px;
	max-width:250px;
	height: inherit;
	text-align: center;
	box-shadow: 0px 2px 5px rgba(0%,0%,0%,0.5);
	border: #CCC 1px solid;
	margin: 5px 19px 0px 15px;
}

.mpwrap {
width:100%;
}
.header {
width:100%;
height:145px;
background-position:right;
top: 50px;
position:relative;
}
/*logo*/
.logo {
display:none;
}
.logo320 {
display:block;
float:left;
margin:15px 0 0 2%;
}
/*nav*/
.header .nav {
float:left;
display:block;
position:fixed;
width:100%;
background:#CCC;
background-image:linear-gradient(0deg, #0D1A34 20%, #1D385C 70%, #1D385C 100%);
padding:1% 0%;
margin:0px;
top:0px;
right:0px;
height:48px;
}
.header .nav ul {
display:block;
text-align:left;
margin:0 0 0 5%;
padding:0px 0 0 48px;
}
.header .nav ul li {
color:#FFF;
}
.header .nav ul li a {
color:#FFF;
}
.header .nav ul li a:hover {
color:#09C;
}
.header .nav ul .here a {
color:#0CF;
}
.header .nav ul li:after {
color:#6d8ba6;
}
/*search*/
.header .search {
position:relative;
float:left;
left:1%;
width:95%;
top:0px;
background:none;
}
.header .search .searchText {
width:45%;
margin-left:1%;
}
 .layout .leftbg {
border-right:#FFF;
}

/*mainList mainList02*/
.mainList ul li, .mainList02 ul li {
padding: 1px 0 1px 17px;
margin: 0px 5px;
}
.mainList, .mainList02 {
float: left;
width: 95%;
margin: 0 0 0 1%;
}

.mainList02 ul li {
float: left;
width: 98%;
margin: 3px 5px;
}
.leftbg .mainList02 ul li, .rightbg .mainList02 ul li {
margin: 0% 1%;
padding-left: 20px;
}

/*headline*/
.mainContent .headline p {
float:left;
width:98%;
margin: 5px 0px 0px 10px;
font-size:1.2rem!important;
}
.headline .image img {
max-width: 250px;
height: auto;
float: left;
margin: 0% 2% 0% 2%;
}
.center .mix_left, .center .mix_right {
width:98%;
float:left;
margin: 0px 1%;
}
 .center .slider {/*han0923*/
width:95%;
margin:3% 1%;
display: table-cell;/*han0930*/
}
 .ePaper {
width:98%;
margin:1% 1%;
}
 .mp .photo_book h3 {
height:1.2em;
}

/* AppDownload*/
.appDownload {
margin:5px auto;
display:none;
}
.appDownload320 {
display:block;
width:320px;
margin:1% auto;
text-align:center;
}

/*siteMap*/
.mpwrap .siteMap {
background:#f0b600;
width:98%;
float:left;
margin: 5px 0 0 0;
padding:1%;
}
.mpwrap .siteMap h3 {
text-align:left;
font-size:13px;
margin: 0 0 5px 0;
border-bottom:#AA8320 1px solid;
padding:1% 2%;
}
.mpwrap .siteMap ul {
float:left;
width:98%;
display:block;
height:auto;
border-right: none;
}
.mpwrap .siteMap ul li {
border-right:none;
text-align:center;
font-size:12px;
text-align:left;
border-bottom:#AA8320 1px dotted;
padding-left:3%;
}
.mpwrap .siteMap ul li a {
color:#FFF;
}

/*footer*/
.footer {
padding:1% 1%;
font-size:1rem;
}
.footer .aa {
display:none;
}
.footer .qrCode {
display:none;
}
.footer .clickRate {
display:none;
}
 .safeInfo {
display:none;
}
.webInfo {
width:97%;
padding:1%;
}
.tb_row01 .mainList02 ul li {
width: 98%;
}
}
 @media screen and (max-width:640px){
ul li {
font-size:1.2rem!important;
}
h3 {
font-size:1.2rem!important;
}
.header {
background-position: left -10px;
}
}

/*

 @media screen and (max-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
}
 @media screen and (max-width: 360px) {

}

*/
